<div ng-controller="MasterCtrl">
  <%= render 'popup' %>
  <%= render '/users/form' %>
  <%= render '/users/login' %>
  <%= render 'dashboard' %>
  <%= render 'lessons' %>
  <%= render 'training' %>
  <%= render '/test/index' %>
  <%= render 'community' %>
</div>