<div id="login" class="thisLogIn" style="display: none">
  <%= form_for(@user, remote: true, multipart: true, authenticity_token: true, action: 'login') do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from loggin in:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :login %><br>
        <input type="text" class="classFun">
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <input type="password" class="classFun">
      </div>
      <div class="actions" style="display: none;">
        <button id="mrButton" type="button" ng-click="logMeIn()">Submit</button>
      </div>
  <% end %>
</div>